body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --primary-bg: #ffffff;
  --primary-text: #020202;
  --secondary-bg: #f2f2f2;
}

.dark-theme {
  --primary-bg: #010101;
  --primary-text: #ffffff;
  --secondary-bg: #000000;
}